@import "components/bourbon/bourbon";
@import "components/neat/neat";
@import "components/colors";
@import "components/utility";
@import "components/font";

body {
    font-family:"proxima-nova-condensed";
}

.outerContainer {
    width: 75rem;
    margin: 0 auto;
}

.nav {
    display: flex;
    background: $gray-4;

    ul {
        display: flex;
        justify-content: space-between;
        width: 25rem;
        padding: 0 0.625rem;
        font-weight: 700;

    }

    li {
        display: inline-block;

        a {
            text-decoration: none;
            list-style-type: none;
            color: $dark-blue;

        }
    }
}
