//Brand Colors
$orange: rgb(238, 78, 17);

//50 Shades of gray
$text-gray: rgb(97, 104, 119);
$light-slate: rgb(144, 160, 174);

//Color Guide
$alert-red: rgb(255, 76, 76);
$teal: rgb(31, 187, 166);
$blue: rgb(0, 175, 209);
$dark-blue: rgb(47, 106, 138);
$yellow: rgb(255, 205, 0);
$header-orange: rgb(239, 95, 40);
$blue-teal-gradient: linear-gradient(to right, $blue, $teal);
$blue-teal-graident-vertical: linear-gradient(to bottom, $blue, $teal);
$blue-teal-gradient-midpoint: #23b5bb;
$teal-yellow-gradient: linear-gradient(to right, $teal, $yellow);
$yellow-red-gradient: linear-gradient(to right, $yellow, $alert-red);


$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$gray-10: rgb(43, 49, 58);
$gray-9: rgb(63, 72, 83);
$gray-8: rgb(101, 108, 117);
$gray-7: rgb(145, 160, 173);
$gray-6: rgb(167, 179, 189);
$gray-5: rgb(199, 207, 213);
$gray-4: rgb(210, 217, 222);
$gray-3: rgb(222, 226, 230);
$gray-2: rgb(233, 235, 238);
$gray-1: rgb(238, 240, 242);
$gray-0: rgb(248, 250, 253);